EWELINK_APP_ID=<developer application id>
EWELINK_APP_SECRET=<developer application secret>
EWELINK_CALLBACK_URL=http://127.0.0.1:33998/callback
EWELINK_LISTEN_ADDR=:33998
EWELINK_STATE_FILE=./data/state.json
EWELINK_REQUEST_TIMEOUT=10s
EWELINK_TOKEN_CHECK_INTERVAL=12h
EWELINK_TOKEN_REFRESH_AHEAD=168h
